$item-bg-color: orange;
$list-bg-color: #fff;

.item {
	margin: auto;
	padding: 20px;
	background-color: color($item-bg-color shade(1%));
	min-width: 100px;
	max-width: 382px;
	width: auto;
	height: 100%;
	box-sizing: border-box;
	
	.textbox {
		padding: 10px;
		font-size: 20pt;
	}
	
	.list {
		padding: 10px  0;
		border-left: 1px solid #aaa;
		border-right: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		background-color: $list-bg-color;
		height: calc(100% - 75px);
		overflow-y: auto;
		
		.listItem {
			cursor: pointer;
			user-select: none;
		}				
	}
}