body {
	font-family: verdana, sans-serif;
	color: #000;
	margin: 20px;
	font-size: 20pt;
}
.textbox {
	padding: 10px;
	font-size: 20pt;
}
.listItem {
	cursor: pointer;
	user-select: none;
}
.container {
	display: flex;
	background-color: #ccc;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 0;
}
.item {
	margin: auto;
	padding: 20px;
	background-color: orange;
	min-width: 100px;
	width: auto;
}